#### Loading the Data <a class="anchor" id="section1_1"></a>

In [19]:
#Import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
#Load csv data
census_data = pd.read_csv("cfs_2012_pumf_csv.txt")

In [3]:
pd.set_option('display.max_columns', None)
census_data.head()

,SHIPMT_ID,ORIG_STATE,ORIG_MA,ORIG_CFS_AREA,DEST_STATE,DEST_MA,DEST_CFS_AREA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_WGHT,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT,WGT_FACTOR
0,1,25,148,25-148,25,148,25-148,333,2,35,14,2178,11,14,17,N,N,N,N,208.5
1,2,42,428,42-428,6,41740,06-41740,311,3,35,14,344,11,2344,2734,N,N,N,N,193.3
2,3,26,220,26-220,47,314,47-314,322,2,27,4,4197,5134,470,579,N,N,N,N,51.2
3,4,20,556,20-556,20,556,20-556,323,1,29,4,116,6,3,3,N,N,N,N,238.7
4,5,12,99999,12-99999,12,99999,12-99999,4235,3,33,5,388,527,124,201,N,N,N,N,398.1

#### Data Information <a class="anchor" id="section1_2"></a>

Some immediate insights are:
* There are 20 columns and over 450,000 rows.
* No column has missing data, however, further inspection will assess validity.
* The column names could be renamed for more readability.
* Some columns, not relevant to analysis, should be dropped before loading to power BI.

In [8]:
census_data.columns

Index(['SHIPMT_ID', 'ORIG_STATE', 'ORIG_MA', 'ORIG_CFS_AREA', 'DEST_STATE',
       'DEST_MA', 'DEST_CFS_AREA', 'NAICS', 'QUARTER', 'SCTG', 'MODE',
       'SHIPMT_VALUE', 'SHIPMT_WGHT', 'SHIPMT_DIST_GC', 'SHIPMT_DIST_ROUTED',
       'TEMP_CNTL_YN', 'EXPORT_YN', 'EXPORT_CNTRY', 'HAZMAT', 'WGT_FACTOR'],
      dtype='object')

In [9]:
census_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4547661 entries, 0 to 4547660
Data columns (total 20 columns):
 #   Column              Dtype
---  ------              -----
 0   SHIPMT_ID           int64
 1   ORIG_STATE          int64
 2   ORIG_MA             int64
 3   ORIG_CFS_AREA       object
 4   DEST_STATE          int64
 5   DEST_MA             int64
 6   DEST_CFS_AREA       object
 7   NAICS               int64
 8   QUARTER             int64
 9   SCTG                object
 10  MODE                int64
 11  SHIPMT_VALUE        int64
 12  SHIPMT_WGHT         int64
 13  SHIPMT_DIST_GC      int64
 14  SHIPMT_DIST_ROUTED  int64
 15  TEMP_CNTL_YN        object
 16  EXPORT_YN           object
 17  EXPORT_CNTRY        object
 18  HAZMAT              object
 19  WGT_FACTOR          float64
dtypes: float64(1), int64(12), object(7)
memory usage: 693.9+ MB

In [10]:
census_data.isnull().sum()

SHIPMT_ID             0
ORIG_STATE            0
ORIG_MA               0
ORIG_CFS_AREA         0
DEST_STATE            0
DEST_MA               0
DEST_CFS_AREA         0
NAICS                 0
QUARTER               0
SCTG                  0
MODE                  0
SHIPMT_VALUE          0
SHIPMT_WGHT           0
SHIPMT_DIST_GC        0
SHIPMT_DIST_ROUTED    0
TEMP_CNTL_YN          0
EXPORT_YN             0
EXPORT_CNTRY          0
HAZMAT                0
WGT_FACTOR            0
dtype: int64

In [11]:
print(census_data.describe())

          SHIPMT_ID    ORIG_STATE       ORIG_MA    DEST_STATE       DEST_MA  \
count  4.547661e+06  4.547661e+06  4.547661e+06  4.547661e+06  4.547661e+06
mean   2.273831e+06  2.910876e+01  3.844047e+04  2.887889e+01  4.036755e+04
std    1.312797e+06  1.548857e+01  4.690446e+04  1.567909e+01  4.718735e+04
min    1.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00  1.040000e+02
25%    1.136916e+06  1.700000e+01  3.120000e+02  1.700000e+01  3.320000e+02
50%    2.273831e+06  2.900000e+01  4.760000e+02  2.900000e+01  4.880000e+02
75%    3.410746e+06  4.200000e+01  9.999900e+04  4.200000e+01  9.999900e+04
max    4.547661e+06  5.600000e+01  9.999900e+04  5.600000e+01  9.999900e+04

              NAICS       QUARTER          MODE  SHIPMT_VALUE   SHIPMT_WGHT  \
count  4.547661e+06  4.547661e+06  4.547661e+06  4.547661e+06  4.547661e+06
mean   7.129526e+03  2.445707e+00  7.117038e+00  1.827960e+04  3.758741e+04
std    4.668010e+04  1.107542e+00  4.273402e+00  1.085257e+06  9.657841e+05
min    2.120000e+02  1.000000e+00  0.000000e+00  1.000000e+00  1.000000e+00
25%    3.260000e+02  1.000000e+00  4.000000e+00  1.760000e+02  1.500000e+01
50%    3.390000e+02  2.000000e+00  5.000000e+00  8.750000e+02  2.700000e+02
75%    4.241000e+03  3.000000e+00  1.400000e+01  6.026000e+03  8.077000e+03
max    5.511140e+05  4.000000e+00  1.010000e+02  5.212778e+08  2.770296e+08

       SHIPMT_DIST_GC  SHIPMT_DIST_ROUTED    WGT_FACTOR
count    4.547661e+06        4.547661e+06  4.547661e+06
mean     3.860863e+02        4.749791e+02  2.311014e+03
std      5.746514e+02        6.869016e+02  1.934517e+04
min      1.000000e+00        1.000000e+00  2.000000e-01
25%      1.700000e+01        2.100000e+01  9.300000e+01
50%      1.100000e+02        1.400000e+02  2.892000e+02
75%      5.380000e+02        6.850000e+02  9.927000e+02
max      5.210000e+03        6.932000e+03  9.750000e+05

#### Data Cleaning <a class="anchor" id="cleaning"></a>

Drop columns not relevant to analysis and visualizations of characteristics of the dataset:

* Outliers
* Distribution

In [ ]:
#remove columns from dataframe
census_data.drop(['WGT_FACTOR', 'SHIPMT_WGHT', 'ORIG_CFS_AREA', 'DEST_CFS_AREA'], axis=1, inplace=True)

In [16]:
census_data.head()

,SHIPMT_ID,ORIG_STATE,ORIG_MA,DEST_STATE,DEST_MA,NAICS,QUARTER,SCTG,MODE,SHIPMT_VALUE,SHIPMT_DIST_GC,SHIPMT_DIST_ROUTED,TEMP_CNTL_YN,EXPORT_YN,EXPORT_CNTRY,HAZMAT
0,1,25,148,25,148,333,2,35,14,2178,14,17,N,N,N,N
1,2,42,428,6,41740,311,3,35,14,344,2344,2734,N,N,N,N
2,3,26,220,47,314,322,2,27,4,4197,470,579,N,N,N,N
3,4,20,556,20,556,323,1,29,4,116,3,3,N,N,N,N
4,5,12,99999,12,99999,4235,3,33,5,388,124,201,N,N,N,N

In [18]:
census_data.columns

Index(['SHIPMT_ID', 'ORIG_STATE', 'ORIG_MA', 'DEST_STATE', 'DEST_MA', 'NAICS',
       'QUARTER', 'SCTG', 'MODE', 'SHIPMT_VALUE', 'SHIPMT_DIST_GC',
       'SHIPMT_DIST_ROUTED', 'TEMP_CNTL_YN', 'EXPORT_YN', 'EXPORT_CNTRY',
       'HAZMAT'],
      dtype='object')